{% extends 'base.html.twig' %}

 {% block content %}
  
  <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">RESTAURANT <BR></BR><span class="text-muted">Présentation</span></h2>
                <p class="lead">Fort d'une tradition familiale, le restaurant France vous accueille à l'occasion des repas de famille ( anniversaire, baptème, communion, mariage ) pour faire de ce moment un souvenir inoubliable dans une maison qui célèbre la gastronomie.

Nous recevons également les groupes, associations et conscrits, pour faire de ce repas un bon moment de convivialité.

Tarifs des menus de groupe : à définir..

Nous tenons à préciser que le plan de table est étudié par nos soins avec votre collaboration pour le meilleur confort de tous.</p>
            </div>
            <div class="col-md-5">
                <img src="{{ asset('upload/resto22.jpg') }}" class="img-fluid"  alt="">
            </div>
        </div>

       
    {% endblock %}

