{% extends 'base.html.twig' %}

 {% block content %}
  
  <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">SPA <BR></BR><span class="text-muted">Présentation</span></h2>
                <p class="lead">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut ratione exercitationem autem ea amet consequatur, provident, architecto in corrupti nisi, veritatis magni sed odio quia aut enim vitae deserunt rem!</p>
            </div>
            <div class="col-md-5">
                <img src="{{ asset('upload/spa25.jpg') }}" class="img-fluid"  alt="">
            </div>
        </div>

       
    {% endblock %}
